
<div class="container mt-4 bg-light border  rounded shadow">
  <h2 class="text-center mt-3 card-title card-header card">Registros de Pokémones Atrapados</h2>
  <div class="table-responsive">
    <table class="table mx-auto rounded">
      <thead class="bg-warning border-bottom border-secondary">
        <tr class="border border-warning">
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apodo</th>
          <th scope="col">Fecha Atrapado</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Rareza</th>
          <th scope="col">Legendario</th>
          <th scope="col">Descripción</th>
          <th scope="col">Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let registro of registrosAtrapados; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ registro.nombre }}</td>
          <td>{{ registro.apodo }}</td>
          <td>{{ registro.fechaAtrapado | date: 'dd-MM-yyyy' }}</td>
          <td>{{ registro.cantidad }}</td>
          <td>{{ registro.rareza }}</td>
          <td>{{ registro.esLegendario ? 'Sí' : 'No' }}</td>
          <td>{{ registro.descripcion }}</td>
          <td>
            <button class="btn btn-warning m-1 btn-sm text-white" (click)="cargarRegistro(registro)">Editar</button>
            <button class="btn btn-danger m-1 btn-sm text-white" (click)="eliminarRegistro(registro)">Borrar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
