<div class="container mt-4 card bg-light border border-danger rounded">
  <h2 class="card-title card-header mt-3 text-center card">Registros de Pokémones Atrapados</h2>
  <div class="table-responsive ">
    <table class="table mx-auto rounded form-group border ">
      <thead>
        <tr class="bg-warning border-bottom border-secondary">
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apodo</th>
          <th scope="col">Fecha Atrapado</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Rareza</th>
          <th scope="col">Legendario</th>
          <th scope="col">Descripción</th>
          <th scope="col">Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let registro of registrosAtrapados; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ registro.nombre }}</td>
          <td>{{ registro.apodo }}</td>
          <td>{{ registro.fechaAtrapado | date: 'dd-MM-yyyy' }}</td>
          <td>{{ registro.cantidad }}</td>
          <td>{{ registro.rareza }}</td>
          <td>{{ registro.esLegendario ? 'Sí' : 'No' }}</td>
          <td>{{ registro.descripcion }}</td>
          <td>
            <button class="btn btn-primary m-1 btn-sm" (click)="cargarRegistro(registro)">Editar</button>
            <button class="btn btn-danger m-1 btn-sm" (click)="eliminarRegistro(registro)">Borrar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
