<div class="container mt-4  border border-danger rounded shadow">
  <h2 class="text-center mt-3 card-title card-header card">{{ tituloFormulario }}</h2>
  <form [formGroup]="registroForm" (ngSubmit)="onSubmit()" class="p-3 border border-top-0 border-warning">
    <div class="mb-3">
      <label for="nombre" class="form-label text-dark">Nombre</label>
      <input type="text" id="nombre" class="form-control" formControlName="nombre" placeholder="Nombre del Pokémon" readonly>
    </div>
    <div class="mb-3">
      <label for="apodo" class="form-label text-dark">Apodo</label>
      <input type="text" id="apodo" class="form-control" formControlName="apodo" placeholder="Apodo del Pokémon">
    </div>
    <div class="mb-3">
      <label for="fechaAtrapado" class="form-label text-dark">Fecha Atrapado</label>
      <input type="date" id="fechaAtrapado" class="form-control" formControlName="fechaAtrapado">
    </div>
    <div class="mb-3">
      <label for="descripcion" class="form-label text-dark">descripción</label>
      <input type="text" id="descripcion" placeholder="200 caracteres maximo" class="form-control" formControlName="descripcion">
    </div>
    <div class="mb-3">
      <label for="cantidad" class="form-label">Cantidad atrapada</label>
      <input type="number" id="cantidad" class="form-control" formControlName="cantidad">
    </div>
    <div class="mb-3">
      <label for="rareza" class="form-label text-dark">Rareza</label>
      <input type="number" id="rareza" class="form-control" formControlName="rareza">
    </div>
    <div class="mb-3">
      <label class="form-label text-dark">Es Legendario</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="esLegendario" [value]="true" formControlName="esLegendario" id="legendarioSi">
        <label class="form-check-label" for="legendarioSi">Sí</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="esLegendario" [value]="false" formControlName="esLegendario" id="legendarioNo">
        <label class="form-check-label" for="legendarioNo">No</label>
      </div>
    </div>
    <div class="d-grid gap-2 mt-4">
      <button *ngIf="!modoEdicion" type="submit" class="btn btn-primary">Crear Registro</button>
      <button *ngIf="modoEdicion" type="button" class="btn btn-success" (click)="actualizarRegistro()">Actualizar Registro</button>
    </div>
    <br>
  </form>
</div>
