<div class="container mt-4 row bg-light border border-danger rounded">
  <h2 class="card-title card-header mt-3 text-center card" >Pokemones salvajes</h2>
  <div *ngFor="let pokemon of pokemonLista" class="mb-2 col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 card-body border bg-light bg-gradient border-danger rounded">
    <div class="d-flex justify-content-between align-items-center m-1 p-1">
      <span>{{ pokemon.nombre }} ({{ pokemon.esLegendario ? 'Legendario' : 'No Legendario' }})</span>
      <button class="btn btn-danger m-1 p-1" (click)="atraparPokemon(pokemon)">Atrapar</button>
    </div>
  </div>
</div>
